@charset "UTF-8";
/* CSS Document */
html{
	max-width:2000px;
	margin:auto;
}

body{
	margin:0;
	padding:0;
}

img{
	display:block;
}

.text-pad{
	padding:.5rem;
}

/* header*/



@media only screen and (min-width: 23em){
nav{
    font-size: 1.2656rem;
    line-height: 1.1852;
	width:100%;
}

}
.nav li{
	display:inline-block;
	padding:1rem .5rem;
	float:right;
	border-bottom:none;
}

.nav li:before{
	content:none;
	color:#FFF;
	position:absolute;
	left:-1.3em;
}

.no-bottom,
.no-bottom, link {
	text-decoration:none;
	border-bottom:none;
	transition: none;
}

nav{
	margin:auto;
	background:rgba(0,0,0,.80);
	position:fixed;
	overflow:inherit;
	width:100%;

}

.main{
	background:transparent url( http://placehold.it/2000x1000 ) no-repeat center;
	background-size:cover;
	padding-bottom:3rem;
}

.logo{
	margin:auto;
	width:30%;
	padding-top:4rem;
}

.small-logo{
	width:3rem;
	display:block;
	border-bottom:none;
	float:left;
	padding-top:.5rem;
	padding-bottom:.5rem;
	margin:auto;
	
}

.centre{
	text-align:center;
}



@media only screen and (min-width: 50em) {
	.logo{
		width:15rem;
	}
	
}
/* quote */

.quote{
	font-size:40px;
	font-weight:lighter;
	color:#152428;
}

@media only screen and (min-width: 23em){
	.quote{
		font-size:60px;
		font-weight:lighter;
		color:#152428;
		transition:all 300ms linear;
	}
}
.quote strong{
	font-weight:bold;
	color:#206671;
	
}

/*portfolio*/

#portfolio{
}

.tittle{
	color:#152428;
}
/*About*/

#about{	
}

.about__content{
	max-width:750px;
	margin:auto;
}
.me{
	width:100%;
	background: no-repeat center url(../images/303346_468770679857795_1263383188_n.jpg);
	background-size:cover;
	height:20rem;
	width:100%;
	display:inline-block;
}

/*Contact*/

#contact{
	background:rgba(32,102,116,);
}

#contact div, .send-btn{
	max-width:750px;
	margin:auto;
	padding:0 .5rem;
}

.message textarea{
	height:10rem;
	width:100%;
}

input{
	height:1.5rem;
	width:100%;	
}

.send-btn input{
	border:none;
	display:block;
	background:none;
	font-size:2.5rem;
	font-weight:100;
	height:5rem;
}

/*footer*/

.icon img{
	display:inline-block;
}

.icon{
	margin:auto 0;
}

.icon-symbol{
	width:20%;
}
@media only screen and (min-width: 22em){
	.icon-symbol{
		width:5rem;
	}
}
