@charset "UTF-8";
/* CSS Document */
html{
}

body{
	margin:0;
	padding:0;
	font-family:
}
img{
	display:block;
}

.text-pad{
	padding:.5rem;
}

/* header*/

.nav{
	text-align:center;
	padding:
}

.nav li{
	display:inline-block;
	padding:1rem;
}

.nav li:before{
	content:none;
	color:#FFF;
	position:absolute;
	left:-1.3em;
}

.no-bottom,
.no-bottom: link{
	color:none;
	text-decoration:none;
	border-bottom:none;
	transition: none;
}
.nav{
	margin:auto;
}

.main{
	background:transparent url( http://placehold.it/2000x1000 ) no-repeat center;
	background-size:cover;
	padding-bottom:3rem;
}

.logo{
	margin:auto;
	width:30%;
}
/* quote */


.quote{
	font-size:36px;
}

@media only screen and (min-width: 30em) {
	.qoute{
		font-size:90px;
	}
}

@media only screen and (min-width: 50em) {
	.qoute{
		font-size:150px;
	}
}


/*portfolio*/

#portfolio{
}

/*About*/

#about{
}
.me{
	width:100%;
	background: no-repeat center url(../images/303346_468770679857795_1263383188_n.jpg);
	background-size:cover;
	height:20rem;
	width:100%;
	display:inline-block;
}
/*Contact*/

#Contact{
	margin:
}

.text-area{
	width:90%;
	height: 2rem;
}

.content{
	height:6rem;
}
/*footer*/

.icon img{
	display:inline-block;
}

.icon{
	margin:auto 0;
}

.icon-symbol{
	width:5rem;
}

