@charset "UTF-8";
/* CSS Document */
html{
	max-width:1000px;
	margin:auto;
}

body{
	margin:0;
	padding:0;
	font-family:
}
img{
	display:block;
}

.text-pad{
	padding:.5rem;
}

/* header*/



@media only screen and (min-width: 17em){
.nav{
	text-align:center;
    font-size: 1.2656rem;
    line-height: 1.1852;
}

}
.nav li{
	display:inline-block;
	padding:2%;
}

.nav li:before{
	content:none;
	color:#FFF;
	position:absolute;
	left:-1.3em;
}

.no-bottom,
.no-bottom: link{
	color:none;
	text-decoration:none;
	border-bottom:none;
	transition: none;
}
.nav{
	margin:auto;
}

.main{
	background:transparent url( http://placehold.it/2000x1000 ) no-repeat center;
	background-size:cover;
	padding-bottom:3rem;
}

.logo{
	margin:auto;
	width:30%;
}

.centre{
	text-align:center;
}



@media only screen and (min-width: 50em) {
	.logo{
		width:15rem;
	}
	
	@
}
/* quote */

.quote{
	font-size:45px;
	font-weight:lighter;
	color:#152428;
}

@media only screen and (min-width: 20em){
	.quote{
		font-size:60px;
		font-weight:lighter;
		color:#152428;
		transition:all 300ms linear;
	}
}
.quote strong{
	font-weight:bold;
	color:#206671;
	
}

/*portfolio*/

#portfolio{
}

.tittle{
	color:#152428;
}
/*About*/

#about{
}
.me{
	width:100%;
	background: no-repeat center url(../images/303346_468770679857795_1263383188_n.jpg);
	background-size:cover;
	height:20rem;
	width:100%;
	display:inline-block;
}

img{
	filter:grayscale(0%);
}
/*Contact*/

#Contact{
	margin:
}

.text-area{
	width:90%;
	height: 2rem;
}

.content{
	height:6rem;
}
/*footer*/

.icon img{
	display:inline-block;
}

.icon{
	margin:auto 0;
}

.icon-symbol{
	width:5rem;
}

